{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Conversations{% endblock %}</h1>
  {% if g.user %}
    <a href="{{ url_for('conv.create') }}">Add conversation</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for conv in conversations %}
  <a href="{{ url_for('conv.conversation', id = conv['id']) }}">
    <div class="conv">
      <header>
        <div>
            
          <h1>Conversation with - <b>{{ users[loop.index0] }}</b></h1>
          <div class="about">by {{ conv['users'] }}</div>
        </div>
       
      </header>
    </div>
  </a>
  {% endfor %}
{% endblock %}