{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Conversations{% endblock %}</h1>
  {% if g.user %}
    <a href="{{ url_for('conv.create') }}">Add conversation</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for conv in conversations %}
    <article class="conv">
      <header>
        <div>
          <h1>{{ conv['id'] }}</h1>
          <div class="about">by {{ conv['users'] }}</div>
        </div>
       
      </header>
    </article>
    
  {% endfor %}
{% endblock %}