{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">

      <label  for="username">Username</label>
      <input class="form-control" name="username" id="username" required>
      <label  for="nickname">Nickname</label>
      <input class="form-control" name="nickname" id="nickname" required>
      <label  for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" required>
      <input type="submit" class="btn btn-primary my-2" value="Register">
    </div>
  </form>
{% endblock %}